
/vendor/
/fixtures/**/vendor/
/fixtures/**/composer.lock
/build/
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml
/.php-cs-fixer.cache
/composer.phar
/.idea/
/.vscode/
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
