* text=auto eol=lf

/.github export-ignore
/contracts export-ignore
/docs export-ignore
/fixtures export-ignore
/tests export-ignore
/tools export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/composer.lock export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/phpunit-9.xml.dist export-ignore
